<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Configuration>
	<BaseSettings>
		<DaysToKeep>15</DaysToKeep>
		<PathToBackup></PathToBackup>
		<SaveBackupTo></SaveBackupTo>
		<ScriptMode>WhatIf</ScriptMode>
	</BaseSettings>
    <EmailSettings>
        <SendMail>true</SendMail>
		<MailTo></MailTo>
		<MailFrom></MailFrom>
		<MailSubject></MailSubject>
		<SMTPServer></SMTPServer>
		<SMTPPort></SMTPPort>
		<!-- SMTPCredentials stored in SMTPCreds.clixml -->
    </EmailSettings>
</Configuration>
