<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Configuration>
	<BaseSettings>
		<DaysToKeep>15</DaysToKeep>
		<PathToBackup>C:\Users\pclindstrom\Files</PathToBackup>
		<SaveBackupTo>C:\Users\pclindstrom\Backup</SaveBackupTo>
		<ScriptMode>WhatIf</ScriptMode>
	</BaseSettings>
    <EmailSettings>
        <SendMail>true</SendMail>
		<MailTo>DailyBackups@3ilaw.capstonecomputers.net</MailTo>
		<MailFrom>alerts@3ilaw.capstonecomputers.net</MailFrom>
		<MailSubject>3iLaw Backup Activity</MailSubject>
		<SMTPServer>mail.capstonecomputers.net</SMTPServer>
		<SMTPPort>587</SMTPPort>
		<!-- SMTPCredentials stored in SMTPCreds.clixml -->
    </EmailSettings>
</Configuration>
